<a href="https://colab.research.google.com/github/Sanjid9633/FMMLlab/blob/main/FMML_lab_1(basics_of_python).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

QUESTION 0:
write down 3-5 methods applicable to each data type.

In [2]:
#1 LISTS

list_1=[5,15,10]

#1.1 index
p=list_1.index(10)
print(p)
#1.2 sort
list_1.sort()
print(list_1)
#1.3 insert
list_1.insert(2,9)
print(list_1)

2
[5, 10, 15]
[5, 10, 9, 15]

In [3]:
#2 TUPLES

tuple_1=(1,3,5,5)

#2.1 count
print(tuple_1.count(5))

#2.2 concatenation
t2= (7,11)
t3= t2+tuple_1
print(t3)

#2.3 repeating
print(tuple_1*2)

2
(7, 11, 1, 3, 5, 5)
(1, 3, 5, 5, 1, 3, 5, 5)

In [4]:
#3 SETS
set1={2,4,6,8}

#3.1 add
set1.add(10)
print(set1)

#3.2  union
set2={12,14,16,18}
print(set1.union(set2))

#3.3  remove
set1.remove(10)
print(set1)

{2, 4, 6, 8, 10}
{2, 4, 6, 8, 10, 12, 14, 16, 18}
{2, 4, 6, 8}

In [10]:
#4 DICTIONARY
d1={1:'a',2:'b',3:'c'}

#4.1 adding
d1[4]='d'
print(d1)

#4.2 get
input=d1.get(2)
print(input)

#4.3 item listing
list(d1.items())

{1: 'a', 2: 'b', 3: 'c', 4: 'd'}
b

[(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd')]

QUESTION 1: Define a function, which takes in two strings A and B. Reverses the first string A, adds it to B, and returns the final string.

In [11]:
def reverse_string(a):
    reversed_a = ""
    for char in a:
        reversed_a = char + reversed_a
   return reversed_a

def rev_and_add(a, b):
    reversed_a = reverse_string(a)
    result = reversed_a + b
    return result

A ="abcxyz"
B = " is my name"
result = rev_and_add(A,B)
print(result)

zyxcba is my name

QUESTION 2:Given a list having Names, work_hours, and gender, Write a function to print name of the female worker that worked the most hours. Also how much do should she be paid if the pay is $ 20 per hour.
work_hours = [('Abby',100 , 'F'),('Billy',400, 'M'),('Cassie',800,'F'), ('Maggi',600,'F'),('Alex',500,'M'),('Raj',225,'M'),('Penny',920,'F'),('Ben',300,'M')]

In [12]:
work_hours = [('Abby', 100, 'F'), ('Billy', 400, 'M'), ('Cassie', 800, 'F'), ('Maggi', 600, 'F'),
              ('Alex', 500, 'M'), ('Raj', 225, 'M'), ('Penny', 920, 'F'), ('Ben', 300, 'M')]



def highest_paid_female(work_hours):
    female_workers = [(name, hours) for name, hours, gender in work_hours if gender == 'F']
    max_hours = max(female_workers, key=lambda x: x[1])
    name, hours = max_hours
    pay = 20
    total_pay = hours *pay
    return name, total_pay




result = highest_paid_female(work_hours)
if isinstance(result, tuple):
    name, total_pay = result
    print(f"The female worker who worked the most hours is {name}, and she should be paid ${total_pay}.")

The female worker who worked the most hours is Penny, and she should be paid $18400.